[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/libft"]
	path = libs/libft
	url = https://github.com/olesgedz/libft.git
[submodule "libs/libmath"]
	path = libs/libmath
	url = https://github.com/olesgedz/libmath.git
